<form>
  <div class="form-group" >
    <input 
          type="text" 
          class="form-control" 
          id="inputSuccess1" 
          placeholder="Deixa eu te conhecer, me diga seu nome"
          aria-describedby="helpBlock2"
          [(ngModel)]="nomePessoa"
          name="input-nome"
          />
  </div>
  
  <div class="form-group" >
    <input 
          type="text" 
          class="form-control" 
          id="inputSuccess2" 
          placeholder="No que você está pensando?"
          [(ngModel)]="texto"
          name="input-texto"
          />
  </div>
  <button (click)="submeterPost($event);" 
      class="btn btn-primary">Vai!
    </button>
  </form>

