<nav style = "background-color: rgb(76, 68, 151);" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style = "color: rgb(221, 247, 105);" class="navbar-brand" href="#">Fala_na_Kara</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" routerLink="/linhadotempo" style = "color: white;">Linha do Tempo<span class="sr-only">(current)</span></a></li>
        <li><a href="#" routerLink="/postar" style = "color: white;">Kr Postar?</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/kimberlyoliver/Projeto-de-Interfaces-Web/tree/master/trabalhokim" style = "color: rgb(157, 151, 214);">Saiba mais</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>