<div class="panel panel-default">
  <div class="panel-heading" style = "background-color: rgb(157, 151, 214);">{{posts[index].nomePessoa}}
    <button class = " btn btn-defaut" style="float: right;" (click) ="removeu(posts[index].id)"><span class = "glyphicon glyphicon-remove"></span></button>
  </div>

  <div class="panel-body" style = "background-color: rgb(189, 184, 238);">{{posts[index].texto}}</div>
  <div class="panel-footer">{{posts[index].qtdLikes}}<button style = "margin: 10px;" (click) = "curtiu($event);"class="btn btn-defaut"><span class = "glyphicon glyphicon-thumbs-up"></span></button></div>

</div>


<div *ngIf="edicao">
  
  <button *ngIf= "!edicao" style="float: left;" (click) = "ativarEdicao()"><span class="glyphicon glyphicon-pencil"></span>Editar</button>
  
  <div>
    <textarea name="texto-input" [(ngModel)]="this.textoEdit"></textarea><br>
    <button class="btn btn-primary" (click)="editou(posts[index])">Concluir</button>
    <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
  </div>

</div>

  
